.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 20s linear infinite;
}

.marquee p {
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-25%, 0, 0);
    }
}

.shop-select {
    all: unset;
    display: block;
    background-color: #379c44;
    color: white;
    cursor: pointer;
    user-select: none;

    max-width: 100%;
    overflow: hidden;

    padding: 0.25rem 0;
}

.shop-select .ss-header {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}

.shop-select .ss-items p {
    margin: 0;
    font-size: 1.5rem;
    white-space: nowrap;
}

.beautify__section {
    padding: 1rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

/* .beautify__section .container {
    padding: 0 50px;
} */

.list-menu--inline {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: end;
}

.list-menu--inline li {
    white-space: nowrap;
}

.chidden {
    height: 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
}

.email-wrapper {
    display: flex;
    justify-content: center;
}

.email-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.email-wrapper form label {
    font-size: 2.5rem;
}

.email-wrapper form div {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: center;
}

.email-wrapper form input[type='email'] {
    min-width: 285px;
}

.email-wrapper form input[type='submit'] {
    min-height: 50px !important;
    min-width: unset !important;
    padding: 1.25rem 2rem;
}

@media (max-width: 450px) {
    .email-wrapper form div {
        flex-direction: column;
    }

    .email-wrapper form input[type='email'] {
        aspect-ratio: 6;
        width: 90vw;
    }
}

/* .list-menu--inline li:has(a[href*='/pages/landscape-design']):before {
    content: 'HOT!';
    display: block;
    color: #ff4500;
    background-color: #eee;
    font-size: 0.8rem;
    border-radius: 999px;
    padding: 2px 8px;
    font-weight: 700;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    transform: translateY(11px);
    font-family: serif;
}

.list-menu--inline li:has(a[href*='/collections/on-sale']):before {
    content: 'SALE!';
    display: block;
    color: #ff4500;
    background-color: #eee;
    font-size: 0.8rem;
    border-radius: 999px;
    padding: 2px 8px;
    font-weight: 700;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    transform: translateY(11px);
    font-family: serif;
} */

/* I'd like to explore this in the future, but idrk how to make it look good. */
/* Mobile menu hotlinks */
/* .list-menu.menu-drawer__menu li:has(a[href*='/pages/landscape-design']):before {
    content: 'HOT!';
    display: block;
    color: #ff4500;
    background-color: #eee;
    font-size: 0.8rem;
    border-radius: 999px;
    padding: 2px 8px;
    font-weight: 700;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 34px;
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    transform: translateY(11px);
    font-family: serif;
}

.list-menu.menu-drawer__menu li:has(a[href*='/collections/on-sale']):before {
    content: 'SALE!';
    display: block;
    color: #ff4500;
    background-color: #eee;
    font-size: 0.8rem;
    border-radius: 999px;
    padding: 2px 8px;
    font-weight: 700;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 34px;
    -webkit-transform: translateY(11px);
    -ms-transform: translateY(11px);
    transform: translateY(11px);
    font-family: serif;
} */

/* @media (max-width: 800px) {
    .beautify__section .container {
        padding: 0 5rem;
    }
}

@media (max-width: 500px) {
    .beautify__section .container {
        padding: 0 4px;
    }
} */

.grid.product-grid.contains-card.slider {
    margin-bottom: 0;
}

.collection__title.title-wrapper.title-wrapper--no-top-margin {
    margin-bottom: 0;
}

.collection__title.title-wrapper.title-wrapper--no-top-margin .title {
    margin-bottom: 0;
}

.beautify__section--blocks .block-wrapper {
    display: grid;
    gap: 1rem;
    height: 500px;
    grid-template: 'a' 'b' 'c';
    padding: 1rem 1rem 1rem 1rem;
}

@media (min-width: 801px) {
    .beautify__section--blocks .block-wrapper {
        grid-template: 'a b' 'a c';
        padding: 0;
        height: 350px;
    }
}

.beautify__section--blocks .block-wrapper .block {
    background-color: #d3d3d3;
    border-radius: 0.5rem;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 0 0.5rem #d3d3d3;
    box-shadow: 0 0 0.5rem #d3d3d3;
}

.beautify__section--blocks .block-wrapper .block:first-child {
    grid-area: a;
}

.beautify__section--blocks .block-wrapper .block:hover {
    cursor: pointer;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-box-shadow: 0 0 0.5rem gray;
    box-shadow: 0 0 0.5rem gray;
}

.beautify__section--4x2grid h2 {
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 1.8rem;
}

@media (min-width: 801px) {
    .beautify__section--4x2grid h2 {
        margin-bottom: 3rem;
        font-size: 2rem;
    }
}

.beautify__section--4x2grid .block-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
    overflow-x: scroll;
}

@media (min-width: 801px) {
    .beautify__section--4x2grid .block-wrapper {
        display: grid;
        place-items: center;
        padding: 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        overflow: visible;
        width: 100%;
    }
}

.beautify__section--4x2grid .block-wrapper .block {
    background-color: #fff;
    border-radius: 0.5rem;
    border: solid #d3d3d3 1px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    width: 40vw;
    min-width: 40vw;
    overflow: hidden;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 0 0.5rem #d3d3d3;
    box-shadow: 0 0 0.5rem #d3d3d3;
}

@media (min-width: 801px) {
    .beautify__section--4x2grid .block-wrapper .block {
        width: 15vw;
        min-width: 15vw;
    }
}

.beautify__section--4x2grid .block-wrapper .block .image {
    height: 40vw;
    width: 100%;
    background-color: #d3d3d3;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-width: 801px) {
    .beautify__section--4x2grid .block-wrapper .block .image {
        height: 15vw;
        height: 15vw;
    }
}

.beautify__section--4x2grid .block-wrapper .block .title {
    color: #000;
    text-align: center;
    padding: 1rem 0;
    border-top: solid 1px #d3d3d3;
}

.beautify__section--4x2grid .block-wrapper .block:hover {
    cursor: pointer;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-box-shadow: 0 0 0.5rem gray;
    box-shadow: 0 0 0.5rem gray;
}

.beautify__section--3x1grid .block-wrapper {
    display: grid;
    gap: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    place-items: center;
    grid-template: 'a' 'b' 'c';
    padding: 1rem 1rem 1rem 1rem;
    padding-top: 0.25rem;
}

@media (min-width: 801px) {
    .beautify__section--3x1grid .block-wrapper {
        grid-template: 'a b c';
        padding: 0;
        place-items: unset;
        padding-top: 1rem;
    }
}

.beautify__section--3x1grid .block-wrapper .block {
    background-color: #d3d3d3;
    border-radius: 0.5rem;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border: solid 3px #379c44;
    width: 70vw;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 0 0.5rem #d3d3d3;
    box-shadow: 0 0 0.5rem #d3d3d3;
    position: relative;
    overflow: hidden;
}

@media (min-width: 801px) {
    .beautify__section--3x1grid .block-wrapper .block {
        width: unset;
    }
}

.beautify__section--3x1grid .block-wrapper .block:first-child {
    grid-area: a;
}

.beautify__section--3x1grid .block-wrapper .block:hover {
    cursor: pointer;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-box-shadow: 0 0 0.5rem gray;
    box-shadow: 0 0 0.5rem gray;
}

.beautify__section--3x1grid .block-wrapper .block .block-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 1.45rem;
    padding-bottom: 1.45rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.beautify__section--3x1grid
    .block-wrapper
    .block
    .block-overlay.block-overlay-bottom {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.beautify__section--3x1grid
    .block-wrapper
    .block
    .block-overlay.block-overlay-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.beautify__section--3x1grid
    .block-wrapper
    .block
    .block-overlay
    .block-overlay-content {
    color: #000 !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    white-space: nowrap;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.5rem 1rem;
    border: solid 5px #186421;
}

@media (min-width: 801px) {
    .beautify__section--3x1grid
        .block-wrapper
        .block
        .block-overlay
        .block-overlay-content {
        font-size: 2rem;
    }
}

.beautify__section--all-products {
    padding-top: 0;
}

.beautify__section--all-products .block-wrapper {
    display: grid;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 1rem 1rem 1rem;
    padding-top: 0.25rem;
}

@media (min-width: 801px) {
    .beautify__section--all-products .block-wrapper {
        padding: 0;
    }
}

.beautify__section--all-products .block-wrapper .block {
    background-color: #d3d3d3;
    border-radius: 0.5rem;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    aspect-ratio: 3/1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-box-shadow: 0 0 0.5rem #d3d3d3;
    box-shadow: 0 0 0.5rem #d3d3d3;
}

@media (min-width: 801px) {
    .beautify__section--all-products .block-wrapper .block {
        aspect-ratio: 1080/200;
    }
}

.beautify__section--all-products .block-wrapper .block:hover {
    cursor: pointer;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-box-shadow: 0 0 0.5rem gray;
    box-shadow: 0 0 0.5rem gray;
}

@media (min-width: 801px) {
    .beautify__section--4x2grid .block-wrapper .block {
        min-width: unset !important;
        width: 100% !important;
        height: 100% !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (min-width: 801px) {
    .beautify__section--4x2grid .block-wrapper {
        aspect-ratio: 1240/671;
    }
}

@media (min-width: 801px) {
    .beautify__section--4x2grid .block-wrapper .block .image {
        width: 100% !important;
        height: 100% !important;
    }
}

.block-wrapper a {
    display: block;
}

.block-wrapper div {
    display: block;
}

.block-wrapper div.title {
    margin: 0 !important;
}

.landscape-d-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25rem;
}

@media (max-width: 900px) {
    .landscape-d-wrapper {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .ldw-col {
        width: 90vw;
        margin: 0 auto;
    }
}

.ldw-col {
    display: grid;
    grid-template-rows: auto 1fr;
    /* border: solid 1px #d3d3d3; */
    border-radius: 1rem;
    box-shadow: 0 0 4px;
    overflow: hidden;
}

.ldw-title {
    background-color: whitesmoke;
    text-align: center;
    padding: 0.125rem;
    font-size: 2.6rem;
    border-bottom: solid 1px #d3d3d3;
}

.ldw-main {
    display: grid;
    grid-template-rows: 1fr auto;
}

.ldw-main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.ldw-main-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ldw-main-content br {
    display: none;
}

.ldw-main-content div {
    width: fit-content;
    margin: 0 auto;
}

.ldw-content {
    font-size: 1.8rem;
}

.ldw-price {
    font-size: 3rem;
}

.ldw-main-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.25rem;
    max-width: 230px;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.ldw-button {
    all: unset;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #379c44;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap;
}

.ldw-button.ldw-outline {
    background-color: transparent;
    color: #379c44;
    border: solid 1px #379c44;
}

.d-none {
    display: none !important;
}

.table-responsive {
    margin: 0 auto;
    width: fit-content;
}

.table-responsive table {
    border: solid 0.5px #d3d3d3;
    border-spacing: 0;
}

.text-start {
    text-align: start;
}

.table-responsive table td,
.table-responsive table th {
    border: solid 0.5px #d3d3d3;
    padding: 0.5rem;
}

@media (max-width: 800px) {
    .table-responsive table * {
        font-size: 0.85rem;
    }

    .table-responsive table td,
    .table-responsive table th {
        padding: 0.125rem;
    }
}

/* .sketch-and-go {
    display: grid;
    grid-template-areas:
        'text1 media1'
        'media2 text2'
        'subhead1 subhead1'
        'contactbutton contactbutton'
        'subhead2 subhead2'
        'hero2 hero2'
        'subhead3 subhead3'
        'media3 media3'
        'subhead4 subhead4'
        'text3 text3'
        'text4 text4';

    gap: 1rem;
}

.text1 {
    grid-area: text1;
}

.media1 {
    grid-area: media1;
}

.media2 {
    grid-area: media2;
}

.media3 {
    grid-area: media3;
}

.subhead1 {
    grid-area: subhead1;
}

.subhead2 {
    grid-area: subhead2;
}

.subhead3 {
    grid-area: subhead3;
}

.subhead4 {
    grid-area: subhead4;
}

.text2 {
    grid-area: text2;
}

.text3 {
    grid-area: text3;
}

.text4 {
    grid-area: text4;
}

.hero2 {
    grid-area: hero2;
}

.contactbutton {
    grid-area: contactbutton;
}

.sketch-and-go .text {
    padding: 0.5rem;
} */

.beautify__section--below-section1 {
    max-width: 800px;
}

.beautify__section--below-section1 .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: solid 1px #d3d3d3;
    border-radius: 1rem;
    -webkit-box-shadow: 0 2px 5px #d3d3d3;
    box-shadow: 0 2px 5px #d3d3d3;
    overflow: hidden;
}

.beautify__section--below-section1 .wrapper .header {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    /* background-image: url('https://settlemyrenursery.com/content/web/landscape-design/landscape-design-banner-no-text.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    position: relative;
    grid-template-columns: 1fr;
    width: 100%;

    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

@media (min-width: 801px) {
    .beautify__section--below-section1 .wrapper .header {
        background-size: 101%;
    }
}

.beautify__section--below-section1 .wrapper .header h2 {
    margin: 0;
    padding: 0.5rem 0;
    color: #fff;
    text-shadow: 0 0 1.5rem #000;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);

    backdrop-filter: blur(2px) brightness(80%);

    width: 100%;
    /* height: 8rem; */
    display: grid;
    place-items: center;
}

@media (min-width: 801px) {
    .beautify__section--below-section1 .wrapper .header h2 {
        padding: 2rem 0;
    }
}

.beautify__section--below-section1 .wrapper .header::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.5rem;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(transparent),
        to(white)
    );
    background: linear-gradient(transparent, #fff);
    position: absolute;
    bottom: 0;
    left: 0;
}

.beautify__section--below-section1 .wrapper .more {
    padding: 1rem;
    padding-top: 0.25rem;
}

.beautify__section--below-section1 .wrapper .more a {
    width: fit-content;
    display: flex;
    margin: 0 auto;
}

.home-below-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'a' 'b' 'c';
    gap: 1rem;
}

.home-below-grid-wrapper .header,
.home-below-grid-wrapper .para {
    margin: 0 !important;
    padding: 8px 16px !important;
}

@media (min-width: 801px) {
    .home-below-grid-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'a b' 'c c';
    }
}

@media (min-width: 950px) {
    .home-below-grid-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 'a b' 'a c';
    }
}

.home-below-grid-wrapper .region-a {
    grid-area: a;
}

.home-below-grid-wrapper .region-b {
    grid-area: b;
}

.home-below-grid-wrapper .region-c {
    grid-area: c;
}

.home-below-grid-wrapper .region-c:not(:has(div > *)) {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.home-below-grid-wrapper .region-c > div {
    overflow: hidden;
}

.home-below-grid-wrapper .region-c .css-1gj5z4p > div {
    max-height: 20rem;
}

.home-below-grid-wrapper .region-c .css-bhjnas {
    min-height: unset !important;
}

.home-below-grid-wrapper .grid-region {
    display: grid;
    gap: 1rem;
    padding: 0 1rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

@media (min-width: 801px) {
    .home-below-grid-wrapper .grid-region {
        -webkit-box-shadow: 0 0 5px #d3d3d3;
        box-shadow: 0 0 5px #d3d3d3;
        padding: 1rem;
    }
}

.home-below-grid-wrapper img {
    width: 100%;
}

.home-below-grid-wrapper .header {
    display: block;
}

/* Experimental */

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 86.5rem;
    padding: 0 2.25rem;
    position: relative;
    width: 100%;
}

@media (min-width: 1261px) {
    .container {
        padding: 0 9rem;
    }
}

.container,
.papathemes-section--alt .papathemes-section-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    padding: 0 0.75rem;
    position: relative;
    width: 100%;
}

@media (min-width: 801px) {
    .container,
    .papathemes-section--alt .papathemes-section-inner {
        padding: 0 2.25rem;
    }
}

.container .container {
    padding-left: 0;
    padding-right: 0;
}

.slideshow__text.banner__box.content-container {
    background: transparent !important;
}

.slideshow__text.banner__box.content-container::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    z-index: -1;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
@media (max-width: 670px) {
    .slideshow__text.banner__box.content-container::before {
        border-radius: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .slideshow__text.banner__box.content-container {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .slideshow__text-wrapper.banner__content {
        align-items: end;
    }
}

.shopify-section:has(.slideshow__text) {
    padding-bottom: 1rem;
    position: relative;
}

.shopify-section:has(.slideshow__text)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% - 1rem);
    top: 0;
    left: 0;
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 98%,
            rgba(255, 255, 255, 1) 100%
        ),
        linear-gradient(
            to top,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 98%,
            rgba(255, 255, 255, 1) 100%
        );
}

@media (max-width: 670px) {
    .shopify-section:has(.slideshow__text)::after {
        background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0) 97%,
                rgba(255, 255, 255, 1) 100%
            ),
            linear-gradient(
                to top,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0) 95%,
                rgba(255, 255, 255, 1) 100%
            );
    }
}

/* .shopify-section:has(.slideshow__text) + .shopify-section {
    position: relative;
}

.shopify-section:has(.slideshow__text) + .shopify-section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3rem;
    top: 0;
    left: 0;
    transform: translateY(-4rem);
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
} */

.product__media {
    padding-top: 0 !important;
}

.product__media img {
    height: auto !important;
    position: relative !important;
    object-fit: contain;
    aspect-ratio: 1;
}

/* .product-form__input--pill input[type=radio]:checked+label {
    --color-foreground: #379c44;
} */

.product-form__input--pill input[type='radio']:checked + label {
    --color-foreground: 55, 156, 68;
}

media-gallery {
    position: relative !important;
}

@media (max-width: 749px) {
    .desktop-only {
        display: none !important;
    }
}

@media (min-width: 750px) {
    .mobile-only {
        display: none !important;
    }
}

.desktop-only.product__description {
    margin-top: 6rem;
}

.productView-pickup {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 2rem;
}

.productView-pickup.pickup-hide {
    display: none;
}

@media (min-width: 750px) {
    .productView-pickup {
        margin-top: 0;
    }
}

.productView-pickup h1,
.productView-pickup h2,
.productView-pickup h3 {
    all: unset;
    font-family: inherit;
}

.productView-pickup h3 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}

.productView-pickup > h3 {
    font-weight: 700;
}

.productView-pickup .sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
}

.productView-pickup .sections .section-middle {
    display: block;
    border-top: dashed 2px #d3d3d3;
}

.productView-pickup .sections .section h1 {
    font-size: 1.5rem;
    display: block;
}

.productView-pickup .sections .section h2 {
    font-size: 1rem;
    display: block;
}

.productView-pickup .sections .section h3 {
    text-align: left;
}

.productView-pickup .sections .section.section-ends {
    width: 100%;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 35% 65%;
}

.productView-pickup .sections .section.section-ends .sub-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.productView-pickup .sections .section.section-ends .sub-section-icon {
    padding: 1rem;
}

.product__description > * {
    font-size: medium;
}

.product__description > *:first-child {
    font-size: larger;
}

.product__description-view-more {
    z-index: 3;
}

.product__description {
    position: relative;
}

.product__description::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

@media (max-width: 749px) {
    .quantity__buttons_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        background-color: rgb(var(--color-background));
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: fit-content;
        padding: 0.5rem 0;

        z-index: 99;
        border-top: solid 1px rgba(var(--color-foreground), 0.35);

        transition: transform 0.3s ease-in-out;
    }

    .quantity__buttons_wrapper.hide {
        transform: translateY(100%);
    }
}

.product-form__quantity {
    flex: none !important;
    margin: 0 !important;
}

@media (max-width: 749px) {
    .product__media-list .product__media-item {
        /* --grid-mobile-horizontal-spacing: -3rem; */
        width: 100% !important;
        margin: 0 !important;
    }

    .product-media-container {
        border: 0 !important;
        max-width: unset !important;
    }

    .product .slider.slider--mobile {
        scroll-padding-left: 0;
    }
}

quantity-input::after {
    border-radius: var(--buttons-radius) !important;
}

.product-top__wrapper {
    --gap: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    justify-content: center;
    align-items: center;
    margin-bottom: var(--gap);
}

.product-form__submit {
    margin-bottom: 0 !important;
}

.productView-specs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productView-specs h1 {
    text-align: center;
}

@media (min-width: 750px) {
    .product__info-wrapper {
        width: fit-content !important;
        flex-grow: 0 !important;
    }

    media-gallery {
        margin: 0 auto !important;
        max-width: 530px !important;
    }

    .product__media-wrapper {
        max-width: unset !important;
    }

    .product__info-container {
        width: 30rem;
    }
}
